<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ru.elifantiev.rallyresults"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="RallyResults" android:icon="@drawable/icon" android:debuggable="true">
        <activity android:name="LoginActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:screenOrientation="portrait"
                android:name="CompetitionActivity"
                android:configChanges="orientation|keyboardHidden" />
        <activity
                android:screenOrientation="portrait"
                android:name="SectionActivity"
                android:configChanges="orientation|keyboardHidden" />
        <activity
                android:screenOrientation="portrait"
                android:name="InputActivity"
                android:configChanges="orientation|keyboardHidden" />
        <service android:name=".service.StatPoolService"/>
    </application>
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 
